*{
    margin: 0;
    padding: 0;
  }

html body{
  font-family: "Oswald";
  font-size: 16px;
  display: cover;
  background-image: url(../img/contactus.jpg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
  overflow-x: hidden;
  overflow-y: auto;
  }
  
.container1{
    display: flex;
    width: 100%;
    min-height: 100vh;
  }

.container2 {
  position: relative;
  margin-left: 200px;
  padding-top: 200px;
}
.form-group { margin: 1.5rem auto }
.container { margin: 150px auto; }
.required-sign { color: red; }

  
nav a:hover{
    color: #ffffff;
  }

nav ul{
    flex-direction: column;
    overflow-y: hidden;
    max-height: 0;
  }

#hamburger{
    text-align: left;
  }

a#hamburger:hover{
    background-color: rgb(85, 21, 21);
  }

div.main-content{
    padding: 1px 16px;
    height: 1000px;
  }

nav.toggleMenu ul{
    display: flex;
    max-height: 40vh;
  }

i.hide{
    display:none;
  }

footer.footer-bar{
    background-color: rgb(85, 21, 21);
    font-size: 0.4em;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

.footer-column{
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: top;
  }

.social{
    display: inline-block;
    position: relative;
    width: 40px;
    float: right;
  }

.icon{
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

.sidebar{
    margin: 0;
    padding: 0;
  }
  
.sidebar a{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
   
.sidebar a.active{
    display: block;
  }
  
.sidebar a:hover:not(.active){
    background-color: #5aaff4;
    color: white;
    display: block;
  }

.fimg{
    width: 10px;
  }
  
@media screen and (max-width: 768px){
    .sidebar {
        width: 160%;
        height: auto;
        z-index: 1000;
        display: flex;
    }
    
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    
  }
  
@media screen and (max-width: 375px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a{
        max-width: 40%;
        padding: 10px 10px 10px 10px;
        float: none;
        text-align: left;
    }

  }

@media screen and (min-width:1440px){
      h1{
        font-size: 2.5em;
      }
  }
    