*{
    margin: 0;
    padding: 0;
  }

html body{
  font-family: "Oswald";
  font-size: 16px;
  display: cover;
  background-image: url(../img/food_bg.jpg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
  overflow-x: hidden;
  overflow-y: auto;
  }
  
.container{
    display: flex;
    width: 100%;
    min-height: 100vh; 
  }

h2,h3{
    color: #58c5f0;
    text-align: left;
    font-size: 2em;
  }

.about-column p{
  font-size: 1.2em;
  text-align: left;
  line-height: 1.2;
  color: rgb(63, 247, 171);
  }

main{
    text-align: center;
    padding: 20px;
  }

.about-column, #about-first {
    width: 65%;
    display: display-block;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

.about-column img{
    width: 50%;
    border-radius: 200px;
    margin-bottom: 10px;
    justify-content: right;
  }

  .about-column img.veggi{
    width: 20%;
  }

  .about-column.contactP P{
    text-align: center;
    width: 800px;
  }
  
nav a:hover{
    color: #ffffff;
  }

nav ul{
    flex-direction: column;
    overflow-y: hidden;
    max-height: 0;
  }

#hamburger{
    text-align: left;
  }

a#hamburger:hover{
    background-color: rgb(85, 21, 21);
  }

div.main-content{
    padding: 1px 16px;
    height: 1000px;
  }

nav.toggleMenu ul{
    display: flex;
    max-height: 40vh;
  }

i.hide{
    display:none;
  }

footer.footer-bar{
    background-color: rgb(85, 21, 21);
    font-size: 0.4em;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

.footer-column{
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: top;
  }

.social{
    display: inline-block;
    position: relative;
    width: 40px;
    float: right;
  }

.icon{
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

.sidebar{
    margin: 0;
    padding: 0;
  }
  
.sidebar a{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
   
.sidebar a.active{
    display: block;
  }
  
.sidebar a:hover:not(.active){
    background-color: #5aaff4;
    color: white;
    display: block;
  }

.fimg{
    width: 10px;
  }
  
@media screen and (max-width: 768px){
    .sidebar {
        width: 160%;
        height: auto;
        z-index: 1000;
        display: flex;
    }
    
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    
    h2,h3{
        color: #58c5f0;
        text-align: right;
        margin-left: -90px;
        margin-right: -30px;
        font-size: 1.5em;
    }

    .about-column img.veggi{
        width: 30%;
        justify-content: center;
    }

    .about-column p{
        font-size: 1em;
        text-align: right;
        line-height: 1.2;
        color: rgb(63, 247, 171);
        margin-left: -90px;
        margin-right: -30px;
    }

    .about-column img{
        width: 100%;
        border-radius: 200px;
        margin-left: -40px;
        margin-bottom: 10px;
        justify-content: right;
    }
  }
  
@media screen and (max-width: 375px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a{
        max-width: 40%;
        padding: 10px 10px 10px 10px;
        float: none;
        text-align: left;
    }

    .about-column img.veggi{
        width: 70%;
        margin-left: 80px;
        margin-top: 50px
    }

    h2,h3{
        color: #1190c2;
        text-align: right;
        margin-left: -90px;
        margin-right: -30px;
        font-size: 1.5em;
    }

    .about-column p{
        font-size: 0.8em;
        text-align: right;
        line-height: 1.2;
        color: rgb(63, 247, 171);
        margin-left: -90px;
        margin-right: -30px;
    }

    .about-column img {
        width: 150%;
        border-radius: 200px;
        margin-left: -40px;
        margin-bottom: 10px;
        justify-content: right;
    }
  }

@media screen and (min-width:1440px){
      h1{
        font-size: 2.5em;
      }
  }
    